* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Structure de la page */
body {
    font-family: "GT Walsheim Pro", Helvetica, sans-serif;
}

/* 🔝 Header */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    width: 48px;
    height: 48px;
    margin-right: 1rem;
}

/* 🧾 Formulaire */
.form-container {
    flex: 1;
    padding: 10% 20px;
}

.game-card {
    transition: all 0.3s ease;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.status-completé {
    border-left: 4px solid #16a34a;
}

.completé {
    background-color: #dcfce7;
    color: #16a34a;
}

.status-encours {
    border-left: 4px solid #ca8a04;
}

.encours {
    background-color: #fef9c3;
    color: #ca8a04;
}

.status-abandonné {
    border-left: 4px solid #e7000b;
}

.abandonné {
    background-color: #ffe2e2;
    color: #e7000b;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}